@* @using Microsoft.AspNetCore.Http
 *@

@{
    //Layout = null; // Disable the layout for this view
    ViewData["Title"] = "Cozy Homes - Units";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // @if (Context.Session.GetInt32("UserId") == null)
    // {
    //     Layout = "~/Views/Shared/_Layout.cshtml";
    // }
    // else
    // {
    //     Layout = "~/Views/Shared/_LayoutATenant.cshtml";
    // }
    int descriptionLength = 210; // Set the desired length for the description
}

@model List<PTenantUnitViewModel>


<!-- Homes List -->
<section class="select-home" style="min-width: 100%;min-height: 100%;">
    <div class="tenant-units-container" style="margin: 0;min-width: 100%;min-height: 100%; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;">

        @foreach (var unit in Model)
        {
            var shortDescription = unit.Description?.Length > descriptionLength
            ? unit.Description.Substring(0, descriptionLength) + "..."
            : unit.Description;

            <div class="card" style="min-width: 300px;">
                <a asp-controller="PTenant" asp-action="PTenantDetails" asp-route-id="@unit.UnitId" style="text-decoration: none;">
                    <img src="@unit.FirstImagePath" alt="@unit.UnitName" style="max-height: 143.475px;">
                    <div class="content" style="color: black;">       
                            <h2>@unit.UnitName</h2>
                            <div class="details" style="justify-content: center;">
                                <i class="fas fa-bed"></i> <span>@unit.NumberOfUnits Units</span>
                                <i class="fa-solid fa-building"></i> <span>@unit.NumberOfRooms Rooms</span>
                            </div>
                            <p>
                                @shortDescription
                            </p>             
                    </div>
                </a>
            </div>
        }

    </div>
</section>

