﻿@{
    ViewData["Title"] = "Cozy Homes - Maintenance History";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

@model List<MaintenanceHistoryViewModel>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Assignment - Cozy Homes</title>
    <meta name="theme-color" content="#B0836E" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" href="~/css/maintenance.css" />
</head>


<header>
    <div class="main-header">
        <p><span class="header-title">MAINTENANCE HISTORY</span></p>
    </div>
</header>


<main class="container" style="min-height: 100vh;">

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Unit Name</th>
                    <th>Date Requested</th>
                    <th>Request Task</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Date Started</th>
                    <th>Date Finished</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    int index = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@item.UnitName</td>
                            <td>@item.DateRequested</td>
                            <td>@item.RequestTask</td>
                            <td>@item.Category</td>
                            <td>@item.Status</td>
                            <td>@item.DateStarted</td>
                            <td>@item.DateFinished</td>
                        </tr>
                        index++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" style="text-align:center;">No maintenance history.</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</main>

<script>
    function confirmLogout(event) {
        const confirmation = confirm("Are you sure you want to log out?");
        if (!confirmation) {
            event.preventDefault();
        }
        return confirmation;
    }
</script>

<script src="~/js/maintenance.js"></script>
